.timer-button {
    padding: 10px;
    transition: background-color 0.3s;
}

.timer-button:hover {
    background-color: #0096FF;
}

.menu-entry {
    padding: 10px;
}

.menu-icon {
    padding: 10px;
}

.timer-entry-error {
    border: 1px solid red;
    color: red;
}

